.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #7e767600; 
 
  
}


.countryDetails {
  flex: 1;
  margin-top: 20px;  
  padding: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  /* margin-bottom: 1000px; */
  color: #fff; 
  background-color: #222; 
  overflow: hidden; 
  border-radius: 30px;
  
}


.activityBox {
  flex: 1;  
  padding: 100px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff; 
  background-color: #222; 
  overflow: hidden; 
  position: relative;   
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}


.activityBox:hover {
  transform: translateY(-5px); 
  z-index: 1; }


.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.buttonContainer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #c7d0da;
}

.backButton {
  position: absolute;
  top: 10px; 
  left: 10px; 
  background-color: #201e1e; 
  padding: 5px 10px; 
  border: 1px solid #605f5fc8; 
  color: #d71616; 
  border-radius: 15px;
}