.cardContainer {
  background-color: rgba(0, 0, 0, 0.751);
    border: 1px solid #ccc; /* Borde para crear un recuadro */
    color: #1f1e1ed8;
    padding: 16px;
    width: 300px; /* Ancho deseado de la tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }
  
  /* Estilo para la imagen */
  .cardImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px; /* Espacio entre la imagen y el texto */
  }
  
  /* Estilo para el nombre */
  .cardName {
    font-size: 25px;
    /* font-weight: bold; */
    margin: 0;
    color: #fbf7f7;
  }
  
  /* Estilo para el continente */
  .cardContinent {
    font-size: 20px;
    color: #fbf7f7;
    margin: 0;
  }

  .divCard {
    background-color: rgba(0, 0, 0, 0.525);
     /* display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 26px;
        grid-row-gap: 16px;
        width: 100%; */
        justify-content: center;
        align-content: center;
  
    }