body{
    width: 100%;
    height: 100%vh;
    display: flex;
    font-family: 'Times New Roman';
    font-size:x-large;
    background-image: url("https://images.pexels.com/photos/414916/pexels-photo-414916.jpeg");
    background-size: 100%;
}
  /* Increase button size */
  .enter-button {
    padding: 20px 40px; /* Adjust padding to make the button larger */
    font-size: 1.5em; /* Increase font size */
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }