.backButton {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según sea necesario */
    left: 10px; /* Ajusta la distancia desde la izquierda según sea necesario */
    background-color: #201e1e; /* Cambia el color de fondo según tus preferencias */
    padding: 5px 10px; /* Ajusta el relleno según tus preferencias */
    border: none; /* Elimina el borde si lo deseas */
    cursor: pointer;
  }

 
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #201e1e; 
  padding: 20px;
  border-radius: 30px;
  width: 125%;
}

/* Estilo para el título del formulario */
.formTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para los campos del formulario */
.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 110%;
  font-size: 25px;
}

.formField label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formField input[type="text"],
.formField select,
.formField input[type="time"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

/* Estilo para los mensajes de error */
.errorMessage {
  color: red;
  font-size: 20px;
  margin-top: 5px;
}

/* Estilo para el botón "Create" */
.createButton {
  background-color: #1e1f20;
  color: #fff;
  border: #f22b18#1e1f20;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.createButton:hover {
  background-color: #0056b3;
}

/* Estilo para el botón "Back" */
.backButton {
  background-color: #201e1e; /* Cambia el color de fondo según tus preferencias */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-start;
}

.backButton:hover {
  background-color: #000;
}